#header
  .user
    if currentUser
      span.my-jobs
        a(href='/my/jobs') View My Jobs 
      | or 
      span.new
        a(href='/jobs/new') Create a Job Posting 
    else
      span.login
        a Sign In 
      | or 
      span.login
        a Sign Up 
      | to create a job posting 

  .page-header
    h1 LA.js Job Board