.navbar
  .navbar-inner
    .container
      a.brand(href='/')
        | Jobs
        small .js.la
      .navbar-text.pull-right
        if currentUser
          a(href='/my/jobs') Manage
          |  or 
          a(href='/jobs/new') create a new listing
        else
          span.login
            a Sign In 
          | or 
          span.login
            a Sign Up 
          | to create a job listing 
