script(src='https://login.persona.org/include.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='/js/bootstrap.min.js')

script(src='https://js.stripe.com/v1/')
script(type='text/javascript')
  Stripe.setPublishableKey('pk_05DZzfxqFiSJFgjCtMSsaI7rt9YNE');

script(src='/js/vendor/timeago.js')

script(src='/js/main.js')

script(type='text/javascript')
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29201604-2']);
  _gaq.push(['_setDomainName', 'js.la']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
