extends layout

block content
  h1 LA.js Job Board

  table.table.table-striped
    thead
      tr
        th Location
        th Position
        th Company
        th Date

    tbody
      tr
        td Venice, CA
        td Front-end Developer
        td Google
        td July 28
