extends layout

block content
  h1 LA.js Job Board

  .new
    a(href='/jobs/new') Create Job Posting

  table.table.table-striped
    thead
      tr
        th Location
        th Position
        th Company
        th Posted

    tbody
      each job in jobs
        - console.log(job._id)
        tr
          td
            a(href="/jobs/#{job._id}")
              = job.location
          td= job.position
          td= job.company
          td
            time.timeago(datetime=job.created_at.toISOString())
