extends layout

block content
  .job
    .summary
      .position
        = job.position
      .date
        = job.created_at
      .company
        = job.company
      .location
        | Location:
        = job.location
      .url
        = job.company_url

    .body
      != body
