!!! 5
html(lang='en')
  include includes/head

  body
    header.container
      block header
        include includes/header

    section.container
      #content
        block content

    footer.container
      block footer
        include includes/footer

    include includes/scripts
