doctype 5
html
  include includes/head

  body
    .container
      block header
        include includes/header

      #main
        block content
        
      #footer
        block footer
          include includes/footer

    include includes/scripts
    