body {
  background-image: url(/img/exclusive_paper.jpg);
  background-position: top center;
}
header {
  margin-top: 20px;
}
.navbar {
  margin-bottom: 10px;
}
.navbar-text {
  margin-top: 10px;
}
.navbar .brand {
  font-family: @sansFontFamily;
  font-size: 30px !important;
  text-transform: uppercase;
  font-weight: bold !important;
}
.navbar .brand small {
  text-transform: none;
  font-weight: normal;
}
#content {
  background-color: #fff;
  border: 1px solid #ccc;
}
footer p {
  font-size: 12px;
  padding: 20px;
}
#jobslist table {
  margin-bottom: 0px;
}
.user {
  margin-top: 17px;
}
a {
  cursor: pointer;
}
textarea.posting_body {
  height: 300px;
}
header .navbar-text {
  font-size: 12px;
}
.social {
  padding-top: 20px;
}
#content {
  padding: 30px 40px;
}
.email-btn {
  vertical-align: top;
  margin-left: 10px;
  line-height: 16px;
  font-size: 11px;
  font-weight: bold;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  padding: 1px 6px;
}
.jobs a:hover {
  text-decoration: none;
}
.jobs span {
  margin-right: 5px;
}
.jobs .filler, .jobs .created_at {
  color: #999;
}
.jobs .company {
  font-weight: bold;
}
.jobs .position {
  text-decoration: underline;
}
.jobs .created_at {
  float: right;
  font-size: 80%;
}
@media (max-width: 480px) {
  #content {
    padding: 0px;
    border: none;
  }
  body {
    background-image: none;
  }
  .navbar {
    border-bottom: 1px solid @grayLight;
  }
  .navbar-inner {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar .brand {
    float: none;
    font-size: 24px !important;
    line-height: 24px;
    padding: 0 5px;
  }
  .navbar-text {
    float: none;
    margin-top: 0px;
  }
  footer p { 
    padding: 20px 0px;
  }
  .logo {
    display: none;
  }
}
