body {
  font-size: 14px;
  // "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
}

textarea.posting_body {
  height: 300px;
}

#header {

  .logo {
    a {
      text-decoration: none;
      color: #444;
    }
  }

  .user {
    float: right;
  }

}

.jobs {

  a:hover {
    text-decoration: none
  };

  span {
    margin-right: 5px;
  }

  .filler, .created_at {
    color: #999;
  }

  .company {
    font-weight: bold;
  }

  .position {
    text-decoration: underline;
  }

  .created_at {
    float: right;
    font-size: 80%;
  }
}

.job {
  .position {

  }
}