body {
  font-size: 14px; }

textarea.posting_body {
  height: 300px; }

.new {
  float: right; }

.jobs a:hover {
  text-decoration: none; }
.jobs span {
  margin-right: 5px; }
.jobs .filler, .jobs .created_at {
  color: #999; }
.jobs .company {
  font-weight: bold; }
.jobs .position {
  text-decoration: underline; }
.jobs .created_at {
  float: right;
  font-size: 80%; }
