body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

textarea.posting_body {
  height: 300px; }

.jobs a {
  color: #333; }
.jobs a:hover {
  text-decoration: none; }
.jobs span {
  margin-right: 10px; }
