body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

textarea.posting_body {
  height: 300px; }

.jobs a:hover {
  text-decoration: none; }
.jobs span {
  margin-right: 5px; }
.jobs .filler {
  color: #999; }
.jobs .company {
  font-weight: bold; }
.jobs .position {
  text-decoration: underline; }
.jobs .created_at {
  float: right;
  font-size: 90%; }
