body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

textarea.posting_body {
  height: 300px;
}

.jobs {

  a:hover {
    text-decoration: none
  };

  span {
    margin-right: 5px;
  }

  .filler {
    color: #999;
  }

  .company {
    font-weight: bold;
  }

  .position {
    text-decoration: underline;
  }

  .created_at {
    float: right;
    font-size: 90%;
  }
}