extends ../layout


block content

  #jobslist.jobs

      table.table.table-striped
        each job in jobs
          tr
            td
              a(href="/jobs/#{job._id}")
                span.position
                  = job.position
                span.filler at
                span.company
                  = job.company
                span.filler in
                span.location
                  = job.location
                span.created_at
                  time.timeago(datetime=job.activated_at.toISOString())

